<div class="titlenew">
<h1>Редактирование поста</h1>
</div>
<%= render 'form', post: @post %>
<div class="show">
<%= link_to 'Показать', @post %>
</div>
<div class="back">
<%= link_to 'Назад', posts_path %> |
</div>
