/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @font-face {
    font-family: 'TT Norms';
    src: url('TTNorms-Regular.ttf');
 }
 @font-face {
   font-family: 'TT Norrms';
   src: url('TTNorms-Medium.ttf');
 }
 @font-face {
   font-family: 'TT Norrrms';
   src: url('TTNorms-Heavy.ttf');
 }
 @font-face {
   font-family: 'TT Normms';
   src: url('TTNorms-ExtraBold.ttf');
 }
 @font-face {
   font-family: 'TT Normmms';
   src: url('TTNorms-Bold.ttf');
 }
 @font-face {
   font-family: 'TT Normss';
   src: url('TTNorms-Black.ttf');
 }
 @font-face {
    font-family: 'Practice-font';
    src: url('Practice-font.otf');
 }

 body {
   font: 14px "TT Norms";
   background-color: #181818;
   margin: 0vw;
   color: #FFFFFF;
 }

 .AMBaner {
 position: absolute;
 opacity: 50%;
 width: 100vw;
 }
/* .Menu{
  position: absolute;
left: 30.34%;
right: 53.1%;
top: 25.42%;
bottom: 73.73%;
font-family: 'TT Norms';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;

} */
/* .top_menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 60px;

} */
.top_menu a {
  margin: 0 20px;
  color: grey;
}
.placeholderemreg {
  border: none;
 border-bottom: 1px solid white;
 background-color: transparent;
 color: inherit;
 outline: none;
 left: 25vw;
 top: 21vw;
position: absolute;
width: 30vw;
font-family: 'TT Norms';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;

color: #888888;
padding: 1vw;
}
.placeholderemreg2 {
  border: none;
 border-bottom: 1px solid white;
 background-color: transparent;
 color: inherit;
 outline: none;
 left: 25vw;
 width: 30vw;
position: absolute;
font-family: 'TT Norms';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
top: 24vw;
color: #888888;
padding: 1vw;
}
.placeholderemreg3 {
  border: none;
 border-bottom: 1px solid white;
 background-color: transparent;
 color: inherit;
 outline: none;
 left: 25vw;
position: absolute;
width: 30vw;
font-family: 'TT Norms';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
top: 27vw;
color: #888888;
padding: 1vw;
}
.placeholderemreg4 {
  border: none;
 border-bottom: 1px solid white;
 background-color: transparent;
 color: inherit;
 outline: none;
 left: 25vw;
position: absolute;
width: 30vw;
font-family: 'TT Norms';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
top: 30vw;
color: #888888;
padding: 1vw;
}
.signup {
  position: absolute;
top: 14vw;
left: 25vw;
font-family: 'TT Normmms';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 42px;

color: #FFFFFF;

}
.actions{
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 400;
  left: 45vw;
  font-size: 18px;
  border: none;
  line-height: 21px;
  background: #00FFDF;
  border-radius: 20px;
  width: 209px;
  position: absolute;
  top: 37vw;
  height: 1.9vw;
}
.check_box {
  position: absolute;
left: 25vw;
top: 29vw;
}
.remember_me {
  position: absolute;
left: 26.7vw;
top: 29vw;
color: #888888;
}
.links{
  position: absolute;
  left: 25vw;
  text-decoration: none;
top: 33vw;
color: #888888;
}
.links2{
  position: absolute;
  left: 25vw;
  text-decoration: none;
top: 31vw;
color: #FFFFFF;
}
.nameu{
  position: absolute;
left: 37.43vw;
top: 7.22vw;
font-family: 'Practice-font';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 20px;
color: #45F7E1;
}
.editp{
  position: absolute;
left: 37.43vw;
top: 9vw;
text-decoration: none;
font-family: 'TT Norms';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;

}
.AMenuback {
  position: absolute;
  height: 100vw;
  top: 0vw;
}
.titlen1 {
  position: absolute;
  width: 954px;
  height: 82px;
  left: 387px;
  top: 84px;

  font-family: 'Practice-font';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 82px;
  /* identical to box height */

  text-align: center;

  color: #FFFFFF;

}
.firstblock div {
  display: inline-block;
  width: 30vw;
  position: relative;
    margin-right: 20vw;
    left: 24.65vw;
}
.secondblock div {
  display: inline-block;
  width: 30vw;
  left: 49.31vw;
  position: relative;
padding-top: 7vw;
}
.firstblock .catid {
  display: none;
}
.secondblock .catid {
  display: none;
}
.thirdblock .catid {
  display: none;
}
.fourthblock .catid {
  display: none;
}
.thirdblock div {
  display: inline-block;
  width: 30vw;
  position: relative;
  margin-right: 20vw;
  left: 24.65vw;
  padding-top: 14vw;
}
.fourthblock div {
  display: inline-block;
  width: 30vw;
  left: 49.31vw;
  position: relative;
  padding-top: 7vw;
}
.postimg {
  position: absolute;
  width: 21.53vw;
}
.courseimg{
  position: absolute;
  width: 21.53vw;
}
.posttitle{
  font-family: 'TT Norms';
  position: absolute;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
padding-top: 19.7vw;}
.lessontitle {
  position: absolute;
width: 457px;
height: 82px;
left: 360px;
top: 52px;

font-family: 'Practice-font';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 41px;

color: #BEF745;
}
.lessontext p {
  position: absolute;
width: 457px;
height: 154px;
left: 360px;
top: 170px;
font-family: 'TT Norms';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 22px;
letter-spacing: 0.005em;

}
.aLessonSteps {
  position: absolute;
  width: 449.5px;
  height: 69.5px;
  left: 350px;
  top: 558px;

}
.catiddd {
  display: none;
}
.postgif {
  position: absolute;
left: 55vw;
width: 42vw;
height: 55vw;
object-fit: cover;
}
.Favorite_button button{
  background: none;
  border: none;
  left: 42.5vw;
  position: absolute;
  top: 27vw;
}
.Favoritebutton button{
  background: none;
  border: none;
  left: 48.5vw;
  position: absolute;
  top: 450px;
}
.firsttblock div {
  display: inline-block;
  width: 25vw;
  left: 24vw;
  position: relative;
  padding-bottom: 16vw;
}
.secondtblock div {
  display: inline-block;
  width: 25vw;
  left: 24vw;
  position: relative;
  padding-top: 12vw;
}
.thirdtblock div {
  display: inline-block;
  width: 25vw;
  left: 24vw;
  position: relative;
  padding-top: 30vw;
}
.tracktitle {
  font-family: 'TT Norms';
  position: absolute;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
padding-top: 41.5vw;
}
.actions10 {
  position: absolute;
left: 50vw;
top: 130vw;
}
.actions11 {
  position: absolute;
left: 50vw;
top: 150vw;
}
.aRateStars{
  position: absolute;
width: 171px;
height: 34px;
left: 460px;
top: 450px;
}
.aRateStarsles{
  position: absolute;
  width: 171px;
  height: 34px;
  left: 360px;
  top: 490px;
}
.ur1 p{
  position: absolute;
  width: 391px;
  height: 24px;
  left: 1100px;
  top: 182px;
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.ur2 p{
  position: absolute;
  width: 391px;
  height: 24px;
  left: 1100px;
  top: 242px;
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.ur3 p{
  position: absolute;
  width: 391px;
  height: 24px;
  left: 1100px;
  top: 302px;
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.ur4 p{
  position: absolute;
  width: 391px;
  height: 24px;
  left: 1100px;
  top: 362px;
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.ur5 p{
  position: absolute;
  width: 391px;
  height: 24px;
  left: 1100px;
  top: 422px;
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.ur6 p{
  position: absolute;
  width: 391px;
  height: 24px;
  left: 1100px;
  top: 482px;
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.ur7 p{
  position: absolute;
  width: 391px;
  height: 24px;
  left: 1100px;
  top: 542px;
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.ur8 p{
  position: absolute;
  width: 391px;
  height: 24px;
  left: 1100px;
  top: 602px;
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.ur9 p{
  position: absolute;
  width: 391px;
  height: 24px;
  left: 1100px;
  top: 662px;
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.ur10 p{
  position: absolute;
  width: 391px;
  height: 24px;
  left: 1100px;
  top: 722px;
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.ur11 p{
  position: absolute;
  width: 391px;
  height: 24px;
  left: 1100px;
  top: 782px;
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.ur12 p{
  position: absolute;
  width: 891px;
  height: 24px;
  left: 1100px;
  top: 842px;
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.Alinetrack{
  position: absolute;
  width: 504px;
  height: 24px;
  left: 1085px;
  top: 215px;
}
.Alinetrack1{
  position: absolute;
  width: 504px;
  height: 24px;
  left: 1085px;
  top: 275px;
}
.Alinetrack2{
  position: absolute;
  width: 504px;
  height: 24px;
  left: 1085px;
  top: 335px;
}

.Alinetrack3{
  position: absolute;
  width: 504px;
  height: 24px;
  left: 1085px;
  top: 395px;}
.Alinetrack4{
  position: absolute;
  width: 504px;
  height: 24px;
  left: 1085px;
  top: 455px;
}


.Alinetrack5{
  position: absolute;
  width: 504px;
  height: 24px;
  left: 1085px;
  top: 515px;
}.Alinetrack6{
  position: absolute;
  width: 504px;
  height: 24px;
  left: 1085px;
  top: 575px;
}.Alinetrack7{
  position: absolute;
  width: 504px;
  height: 24px;
  left: 1085px;
  top: 635px;
}.Alinetrack8{
  position: absolute;
  width: 504px;
  height: 24px;
  left: 1085px;
  top: 695px;
}.Alinetrack9{
  position: absolute;
  width: 504px;
  height: 24px;
  left: 1085px;
  top: 755px;
}.Alinetrack10{
  position: absolute;
  width: 504px;
  height: 24px;
  left: 1085px;
  top: 815px;
}.Alinetrack11{
  position: absolute;
  width: 504px;
  height: 24px;
  left: 1085px;
  top: 875px;
}
.trackname {
  position: absolute;
width: 519px;
height: 54px;
left: 460px;
top: 59px;
font-family: 'Practice-font';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 54px;

color: #BEF745;

}
.trackktitle{
  position: absolute;
width: 519px;
height: 27px;
left: 460px;
top: 150px;

font-family: 'Practice-font';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 27px;

color: #BEF745;

}
.tracklesname p {
  position: absolute;
width: 519px;
height: 27px;
left: 1085px;
top: 80px;

font-family: 'Practice-font';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 27px;

color: #BEF745;
}
.trackimg{
  position: absolute;
  left: 460px;
  width: 24.7vw;
  height: 20vw;
  top: 30vw;
  object-fit: cover;
}
.playlistimg{
  position: absolute;
  width: 21.53vw;
}
.playlistitle {
  position: relative;
  width: 275px;
  left: 3vw;
  z-index: 100;
  text-decoration: none;
  top: 18.7vw;
  font-family: 'TT Normmms';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;

}
.catiddd{
  display: none;
}
.firstttblock div{
  display: inline-block;
  width: 25vw;
  left: 24vw;
  position: relative;
}
.secondtttblock div{
  display: inline-block;
  width: 25vw;
  left: 24vw;
  position: relative;
  padding-top: 24vw;
}
.thirdtttblock div{
  display: inline-block;
  width: 25vw;
  left: 24vw;
  position: relative;
  padding-top: 24vw;
}
.trn {
  position: relative;
  width: 262px;
  height: 72px;
  left: 0px;
  top: 711px;
  font-family: 'TT Normmms';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  }

.fffirstbloock div{
  display: inline-block;
  width: 30vw;
  position: relative;
    margin-right: 20vw;
    left: 24.65vw;
}
.sssecondblock div {
  display: inline-block;
  width: 30vw;
  left: 47.31vw;
  top: 300px;
  position: absolute;
}

.ttthirdblock div {
  display: inline-block;
  width: 30vw;
  position: absolute;
  /* margin-right: 20vw; */
  left: 73.65vw;
  top: 2vw;
  /* padding-top: 13vw; */
}
.fffourthblock div {
  display: inline-block;
  width: 30vw;
  left: 8.31vw;
  position: relative;
  margin-left: 15vw;
  padding-top: 4vw;
}

.fffifthblock div {
  display: inline-block;
  width: 30vw;
  left: 44.31vw;
  top: 900px;
  position: absolute;
}
.sssixblock div {
  display: inline-block;
  width: 30vw;
  left: 8.31vw;
  position: relative;
  margin-left: 15vw;
  padding-top: 6vw;
}
.grouptimg {
  position: relative;
  width: 21.53vw;
}
.sevenblock div {
  display: inline-block;
  width: 30vw;
  left: 44.31vw;
  top: 1600px;
  position: absolute;
}
.groupname{
  font-family: 'Practice-font';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1px;
  text-decoration: inherit;
  color: #FFFFFF;
}
.grouptitle{
  position: relative;
  width: 595px;
  height: 28px;
  /* left: 445px; */
  /* top: 498px; */
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}
.youtube{
  position: absolute;
  top: 38vw;
  left: 20vw;
}
.AStepp{
  position: absolute;
top: 32.5vw;
left: 37vw;
}
.buufa{
  position: absolute;
  top: 27.5vw;
  left: 40vw;
  opacity: 1%;
  z-index: 100;
}
.poisk{
  position: relative;
  z-index: 100;
  top: 9vw;
  left: 3vw;
}
.lessontextttt{
  position: absolute;
width: 447px;
height: 176px;
left: 460px;
top: 205px;

font-family: 'TT Norms';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 22px;
/* or 110% */


color: #FFFFFF;

}
.postnametitle {
  position: relative;
  width: 262px;
  height: 72px;
  left: 0px;
  top: 24vw;
  font-family: 'TT Normmms';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.Favoritee_button button{
  background: none;
  border: none;
  left: -80px;
  position: absolute;
  top: 620px;
}
.grouppimg{
  position: absolute;
  width: 25vw;
  height: 25vw;
left: 1200.18px;
top: 95.24px;
}
.favbutgroup button{
  background: none;
  border: none;
  left: -80px;
  position: absolute;
  top: 620px;
}
.grouppptext p{
  position: absolute;
width: 461px;
height: 168px;
left: 400px;
top: 180px;
font-family: 'TT Norms';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;
}
.grouppptitle{
  position: absolute;
width: 400px;
height: 82px;
left: 400px;
top: 59px;

font-family: 'Practice-font';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 41px;

color: #FFFFFF;
}
.group65{
  position: absolute;
width: 209px;
height: 35px;
left: 400px;
top: 580px;

}
.groupppatitle{
  position: absolute;
width: 537px;
height: 41px;
left: 400px;
top: 665px;

font-family: 'Practice-font';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 41px;
color: #FFFFFF;

}
.gRateStars{
  position: absolute;
  width: 210px;
  height: 42px;
  left: 67.5vw;
  top: 35.5vw;
}
.gton{
  position: absolute;
width: 210px;
height: 42px;
left: 1511px;
top: 600px;
}
.nnaammeegroup{
  position: absolute;
width: 189px;
height: 28px;
left: 67.5vw;
top: 32vw;

font-family: 'TT Norms';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;
}
.youtubee{
  position: absolute;
  top: 44vw;
  left: 22vw;
}
.acc1{
  position: absolute;
width: 362px;
height: 24px;
left: 670px;
top: 186px;

font-family: 'TT Norms';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height */

color: #FFFFFF;
}
.eee{
  position: absolute;
  left: 670px;
  top: 40vw;
  z-index: 100;
}
