// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.ANewsText2 {
  position: absolute;
  left: 3.19vw;
  top: 21.24vw;
  width: 7.7vw;
}
.ANewsImage2 {
  position: absolute;
  left: 3.19vw;
  top: 18.66vw;
  width: 7.7vw;
}
.ANewsTitle2 {
  position: absolute;
  left: 3.19vw;
  top: 16.08vw;
  width: 7.7vw;
}
.ONews2 {
  position: absolute;
  left: 3.19vw;
  top: 4.10vw;
    width: 7.7vw;
}
