// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.placeholderemvh {
  border: none;
 border-bottom: 1px solid white;
 background-color: transparent;
 color: inherit;
 outline: none;
}
